<!DOCTYPE html>
<html>
	<head>
		<title>datapotato</title>
		<link rel="stylesheet" href="/css/datapotato.css">
	</head>

	<div class="container"> 
        <div class="flex_row_space_between">
            <div>
                <a href="./">datapotato</a>
                <span id="header">
                	{{header}}
                </span>
            </div>
                <a href="./">SIGN IN</a>
        </div>

        <hr class="light">

        <div class="flex_row_space_between">
            <div class="flex_column">
            	<!--Reloads current page to toggle light/dark theme-->
                <a class="image" href="./toggleTheme"><img id="logo" 
                	{{#if darkTheme}}src="./images/datapotato_white.svg"
                	{{else}}src="./images/datapotato_black.svg"
                	{{/if}} 
                	width="400px" height="auto"></a>
            </div>
            <div class="flex_column deselected text_align_right">
                <span>User: Not signed in</span>
                <span>Data: 
                	{{#if countTable}}MySQL connected!
                	{{else}}Not connected
                	{{/if}}
                </span>
    		</div>
    	</div>

        <div class="flex_row_space_between">
            <div class="flex_column">
                <a {{#if injection}}class="selected"{{/if}} href="./injection">Injection</a><br>
                <a {{#if brokenAuthentication}}class="selected"{{/if}} href="./brokenAuthentication">Broken Authentication</a><br>
                <a {{#if sensitiveDataExposure}}class="selected"{{/if}} class="deselected" href="./sensitiveDataExposure">Sensitive Data Exposure</a><br>
                <a {{#if xmlExternalEntities}}class="selected"{{/if}} class="deselected" href="./xmlExternalEntities">XML External Entities</a><br>
                <a {{#if brokenAccessControl}}class="selected"{{/if}} class="deselected" href="./brokenAccessControl">Broken Access Control</a><br>
                <a {{#if securityMisconfiguration}}class="selected"{{/if}} class="deselected" href="./securityMisconfiguration">Security Misconfiguration</a><br>
                <a {{#if crossSiteScripting}}class="selected"{{/if}} class="deselected" href="./crossSiteScripting">Cross-Site Scripting</a><br>
                <a {{#if insecureDeserialization}}class="selected"{{/if}} class="deselected" href="./insecureDeserialization">Insecure Deserialization</a><br>
                <a {{#if usingComponentsWithKnownVulnerabilities}}class="selected"{{/if}} class="deselected" href="./usingComponentsWithKnownVulnerabilities">Using Components with Known Vulnerabilities</a><br>
                <a {{#if insufficientLoggingAndMonitoring}}class="selected"{{/if}} class="deselected" href="./insufficientLoggingAndMonitoring">Insufficient Logging & Monitoring</a><br>
                <a {{#if stealPasswordHashes}}class="selected"{{/if}} class="deselected" href="./stealPasswordHashes">Steal Password Hashes/Break Cryptography [Stretch Goal]</a><br>
            </div>
            <div class="flex_column flex_end">
            	<a href="./admin"><span>ADMIN</span></a>
            </div>
        </div>

        <hr>

		<body {{#if darkTheme}}class="dark"{{/if}}>
			{{{body}}} 
		</body>

		<footer>
			<hr>
			<h3>Code References</h3>
			<sub class="compact">
			<span id="clickToExpand" class="hover" onclick="display_references()">> Click to expand</span><br>
				<span id="references" class="hidden">
				├── expressjs		| "Hello world example", https://expressjs.com/en/starter/hello-world.html<br>
				├── expressjs		| "cs340_sample_nodejs_app", https://github.com/knightsamar/cs340_sample_nodejs_app<br>
				├── expressjs		| OSU CS340 INTRODUCTION TO DATABASES, "https://canvas.oregonstate.edu/courses/1825733"<br>
				├── body-parser		| "body-parser", http://expressjs.com/en/resources/middleware/body-parser.html<br>
				├── handlebars		| "Introduction", https://handlebarsjs.com/guide/<br>
				├── handlebars		| "Express Handlebars", https://www.npmjs.com/package/express-handlebars<br>
				├── handlebars		| "Hello Handlebars", https://eecs.oregonstate.edu/ecampus-video/CS290/core-content/hello-node/hello-handlebars.html<br>
				├── handlebars		| "app.locals", https://expressjs.com/en/api.html#app.locals<br>
				├── JavaScript		| "Element.classList", https://developer.mozilla.org/en-US/docs/Web/API/Element/classList<br>
				├── MySQL			| "Using Node on the Engineering Servers", https://eecs.oregonstate.edu/ecampus-video/CS290/core-content/tools-and-overview/Using-Node-on-the-Engineering-Servers.html<br>
				└── express-session	| "express-session", http://expressjs.com/en/resources/middleware/session.html
				</span>
			</sub>
		</footer>
	</div>

	<script src="./js/interactions.js"></script>

</html>