<!DOCTYPE html>

<html lang="en">

    <head>
        <title>datapotato</title>
        <meta charset="utf-8">
        <script src="./js/interactions.js"></script>
    </head>

    <h2>Name of Vulnerability</h2>
        <p>Insufficient Logging and Monitoring</p>
    <h2>Description</h2>
        <p>--</p>
    <h2>Demonstration</h2>
        <p>--</p>
    <h2>Remediation</h2>
        <p>--</p>
           
</html>
