@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Open+Sans+Condensed:300&display=swap');

a {
  line-height: 1em;
  color: inherit;
  opacity: .4;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

a.image {
  opacity: 1;
}

body {
  height: 100%;
  max-width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  background-color: #ffffff;
  line-height: 1.4em;
}

body.dark {
  color: rgba(201,209,217);
  background-color: rgba(13,17,23);
}

body.dark .code {
  background-color: rgba(22,27,34);
}

body.dark hr {
  color: rgba(48,54,61);
  background-color: rgba(48,54,61);
}

body.dark table.markdown, body.dark th, body.dark td {
  border: 1px solid rgba(48,54,61);
}

body.dark table.markdown tr:nth-child(2n+3) {
  background-color: rgba(22,27,34);
}

button {
  background-color: inherit;
  border: 1px solid green;
  color:  inherit;
  box-shadow: 2px 2px;
  margin-right: .5em;
}

body.dark button {
  background-color: white;
  color: black;
  box-shadow: 2px 2px green;
}

circle {
  shape-rendering: geometricPrecision;
}

html {
  overflow-y: scroll;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 2px;
  background-color: black;
}

hr.light {
  border: none;
  margin: 0em;
  height: 1px;
}

li {
  padding: .25em;
}

svg {
  width: auto;
  height: 6em;
}

table, td, th {
  padding: .2em;
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 1000px;
}

table.markdown th, td {
  padding: .5em;
}

table.markdown tr:nth-child(2n+3) {
  background-color: rgba(231,236,240);
}

.averia_serif {
  font-family: 'Averia Serif Libre';
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

.code {
  background-color: rgba(231,236,240);
  font-family: 'Consolas';
  padding-left: 1em;
  line-height: 3em;
  border-radius: 5px;
}

.compact {
  margin: 0px;
  padding:  0px;
  line-height: 1em;
}

.container {
  position:relative;
  z-index: 1;
  margin: 5px auto 5px auto;
  max-width: 1000px;
  transition: .5s;
  padding: 5px 5px 5px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
/*  border: 1px solid lime;*/
}

.deselected {
  opacity: .2;
}

.flex_column {
  display: flex;
  flex-flow: column nowrap;
}

.flex_end {
  align-self:  flex-end;
}

.flex_row_left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.flex_row_space_between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

.hover:hover {
  opacity: .7;
}

.no_wrap {
  word-break: keep-all;
}

.selected {
  opacity:  1;
}

.text_align_right {
  text-align: right;
}

.text_small {
  font-size: .75em;
}

.vertical_ellipsis {
  font-size: 4em;
}

.word_break {
  overflow-wrap:  break-word;
  word-break: break-all;
}



